/* possible new colors #4f5573 #425381 #373c67 #2f5e53 #39556f #710000 #830000 #4f5573 #b9393c #b84848 #655157 #939fa5 #3f4ca3 */
.chat-line__message.tch-highlighted-message {
    background: #d7cceb;
    color: #19171c;
}
.chat-line__message.tch-highlighted-message .mention-fragment {
    background-color: #efeef1;
    color: #19171c;
}
.tch-color-scheme2 .chat-line__message.tch-highlighted-message {
    background: #dcb7a2;
}
.tch-color-scheme2 #tch-trackbar {
    background: #efded2;
}
.tch-color-scheme2 #tch-trackbar .tch-trackbar-slider {
    background: #e09063;
}
.tch-color-scheme2 #tch-trackbar .tch-trackbar-marker {
    background: #ce5918;
}
.tch-color-scheme3 .chat-line__message.tch-highlighted-message {
    background: #0c3640;
    color: #dad8de;
}
.tch-color-scheme3 .chat-line__message.tch-highlighted-message .mention-fragment {
    background-color: #0e0c13;
    color: #dad8de;
}
.tch-color-scheme3 #tch-trackbar {
    background: #0c3640;
}
.tch-color-scheme3 #tch-trackbar .tch-trackbar-slider {
    background: #1da3c3;
}
.tch-color-scheme3 #tch-trackbar .tch-trackbar-marker {
    background: #e2f9ff;
}

.tch-color-scheme4 .chat-line__message.tch-highlighted-message {
    background: #392e5c;
    color: #dad8de;
}
.tch-color-scheme4 .chat-line__message.tch-highlighted-message .mention-fragment {
    background-color: #0e0c13;
    color: #dad8de;
}
.tch-color-scheme4 #tch-trackbar {
    background: #463868;
}
.tch-color-scheme4 #tch-trackbar .tch-trackbar-slider {
    background: #d0b8ff;
}
.tch-color-scheme4 #tch-trackbar .tch-trackbar-marker {
    background: #d1ccdf;
}

#tch-trackbar {
    position: absolute;
    z-index:999;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(237, 228, 255);
}
#tch-trackbar .tch-trackbar-slider {
    height: 100%;
    background: rgb(172, 139, 236);
    position: absolute;
    top: 0;
    opacity: 0.6;
    border-radius: 2px;
    border: none;
}
#tch-trackbar .tch-trackbar-marker {
    height: 100%;
    background: #7d5bbe;
    position: absolute;
    top: 0;
}

.mention-fragment {
    position: relative;
}
.mention-fragment .tch-mention-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    pointer-events:none;
}
.mention-fragment .tch-mention-animation::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    padding-top:100%;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%) scale(0);
    background: #bf87ff;
    border-radius: 50%;
    animation: mention-click 0.6s ease 0s;
}
.tw-root--theme-dark .mention-fragment .tch-mention-animation::before {
    background: #d7cceb;
}
@keyframes mention-click {
    100% {
        transform:translate(-50%, -50%) scale(1.1);
        opacity: 0;
    }
}

.tch-hide-channel-points-box .community-points-summary__points-add-text {
    display: none!important;
}
.tch-hide-channel-points-box .community-points-summary > *:not(:first-child) {
    display: none!important;
}

.tch-hide-channel-leaderboard .channel-leaderboard {
    display: none!important;
}

.tch-hide-community-highlights .community-highlight-stack__card {
    display: none!important;
}

.tch-hide-extensions-overlay .video-player__overlay .extensions-dock__layout {
    display: none!important;
}
.tch-hide-extensions-overlay .video-player__overlay > .tw-c-text-overlay {
    display: none!important;
}

.tch-disable-avatar-animations .user-avatar-animated--automated .user-avatar-animated__live:after {
    display: none!important;
}
.tch-disable-avatar-animations .user-avatar-animated--automated .user-avatar-animated__halo {
    animation: none!important;
}